## Urban Simulation Networks 3

# Open Street Map Road Networks

In [1]:
%matplotlib inline
import os
import numpy as np
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

# The python package geopadas is an extension of the data analysis library pandas for working with geographic data.
# It is dependent on a lot of other packages to run, so could take a while to install if the dependencies are not
# already installed.
import geopandas as gpd

In [2]:
spatial_data_dir = "..\\data\\Central_London_Shapefile\\shape"
road_shapefile = os.path.join(spatial_data_dir, "roadsExplodedBNG.shp")

In [3]:
gdf_roads = gpd.read_file(road_shapefile)

In [28]:
gdf_roads.crs = {'init' :'epsg:4326'}

# Geo dataframe of linestring geoetries representing roads
gdf_roads.head()

,LENGTH,WKT,bridge,geometry,maxspeed,name,oneway,osm_id,ref,type
0,187.369101,None,0,LINESTRING (529483.8143688129 182281.611329109...,20.0,Grafton Way,1,31030,A400,trunk
1,79.939857,None,0,LINESTRING (529823.3187080636 181382.281772700...,30.0,Tottenham Court Road,1,31039,A400,primary
2,84.214560,None,0,LINESTRING (529204.4352785718 181858.334078438...,30.0,Cleveland Street,1,31959,None,tertiary
3,209.367879,None,0,LINESTRING (530611.3123231975 180841.654082292...,30.0,Aldwych,1,2190803,A4,primary
4,55.704402,None,0,LINESTRING (528840.0477737525 182211.829698606...,30.0,Euston Road,1,2191122,A501,trunk

In [29]:
# How many records?
print(gdf_roads.shape)

# Check the geometry types - all Linestrings
print(gdf_roads['geometry'].map(lambda x: x.type).value_counts())

(3582, 10)
LineString    3582
Name: geometry, dtype: int64

In [30]:
# Access a single linestring geometry
line_graftton_way = gdf_roads.loc[0, "geometry"]

In [31]:
line_graftton_way

In [32]:
print("Linestring length: {}".format(line_graftton_way.length))

# How many coordinates make up this linestring
print("Number of coordinates: {}".format(len(line_graftton_way.coords)))

Linestring length: 187.36910057251944
Number of coordinates: 9

In [36]:
# In R a SpatialPolygonDataFrame object must be converted to a dataframe object using 
# the tidy function. Here we only work with the data as a geopandas geodatafram
# so this conversion isn't needed

# But we do need to extract the data we need to create a network from the 
# geodataframe

In [34]:
# Each linestring is made up of multiple coordinates, for example:
list(line_graftton_way.coords)

[(529483.814368813, 182281.6113291093),
 (529479.0436674849, 182278.15150009602),
 (529427.0891960037, 182246.78345147427),
 (529423.0121066675, 182243.34135236288),
 (529413.4705441933, 182236.4218160609),
 (529389.5881977602, 182220.2350710464),
 (529338.3262862903, 182188.8856223093),
 (529336.2735316479, 182187.7206165839),
 (529326.038057389, 182180.78358540888)]

In [38]:
line_graftton_way.xy

array('d', [529483.814368813, 529479.0436674849, 529427.0891960037, 529423.0121066675, 529413.4705441933, 529389.5881977602, 529338.3262862903, 529336.2735316479, 529326.038057389])

In [93]:
# To create the network, we must create a dataframe of all the coordinates
df_road_coords = pd.DataFrame(columns = ["x", "y", "id"])

In [94]:
# Loop through the linestring and for each one add their coords to the new 
# geodataframe
for row_id, row in gdf_roads.iterrows():
    xy = row['geometry'].xy
    df = pd.DataFrame({"x": xy[0], "y":xy[1], "id":row_id})
    df_road_coords = pd.concat([df_road_coords, df], join='inner')
    
# Reinstace the index
df_road_coords.index = np.arange(len(df_road_coords))

In [95]:
df_road_coords.head()

    id              x              y
0  0.0  529483.814369  182281.611329
1  0.0  529479.043667  182278.151500
2  0.0  529427.089196  182246.783451
3  0.0  529423.012107  182243.341352
4  0.0  529413.470544  182236.421816

In [96]:
# The coordinates are in order so the second row coordinate connects to the first
# Add new columns to hold the connecting coordinates
df_road_coords.rename(columns={'x':'x1','y':'y1'}, inplace=True)
dfB = df_road_coords[1:].rename(columns={'y1':'y2','x1':'x2'})
dfB = dfB.append(pd.Series({'id':None,'latB':None, 'longB':None}), ignore_index=True)

assert len(df_road_coords) == len(dfB)

In [97]:
df_road_coords = pd.merge(df_road_coords, dfB, left_index=True, right_index=True, how='outer', indicator=True)

In [98]:
# Check that all rows merged correctly - all good
df_road_coords.loc[ df_road_coords['_merge'] != 'both']

Empty DataFrame
Columns: [id_x, x1, y1, id_y, x2, y2, latB, longB, _merge]
Index: []

In [99]:
df_road_coords.head()

,id_x,x1,y1,id_y,x2,y2,latB,longB,_merge
0,0.0,529483.814369,182281.611329,0.0,529479.043667,182278.151500,NaN,NaN,both
1,0.0,529479.043667,182278.151500,0.0,529427.089196,182246.783451,NaN,NaN,both
2,0.0,529427.089196,182246.783451,0.0,529423.012107,182243.341352,NaN,NaN,both
3,0.0,529423.012107,182243.341352,0.0,529413.470544,182236.421816,NaN,NaN,both
4,0.0,529413.470544,182236.421816,0.0,529389.588198,182220.235071,NaN,NaN,both

In [100]:
# Drop unwanted columns
df_road_coords.drop(['id_x','id_y'], axis=1, inplace=True)